<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxx.springcloud.dao.PaymentDao">

    <select id="getPayments" resultType="com.cxx.springcloud.observer.Payment">
        select * from payment;
    </select>

    <insert id="create" parameterType="com.cxx.springcloud.observer.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values(#{serial});
    </insert>
    
<!--    <resultMap id="BaseResultMap" type="entities.springcloud.com.cxx.springcloud.Payment">-->
<!--        <id column="id" property="id" jdbcType="INT"/>-->
<!--        <id column="serial" property="serial" jdbcType="VARCHAR"/>-->
<!--    </resultMap>-->

<!--    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">-->
<!--        select * from payment where id=#{id};-->
<!--    </select>-->

    <select id="getPaymentById" parameterType="Integer" resultType="com.cxx.springcloud.observer.Payment">
        select * from payment where id=#{id};
    </select>

</mapper>